@page
@model IndexModel
@{
    ViewData["Title"] = "Final Assignment";
}

<body onload="myMove()">
    <div id="container">
        <div id="animate"></div>
    </div>

    <div class="text-center">
        <h1 id="message" class="display-4">Welcome Visitor</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>
    <br>
    <iframe width="1296" height="729" src="https://www.youtube.com/embed/28B6FtowOjA" title="Eraserheads - Poorman&#39;s Grave [Lyric Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>